<div class="col-lg-6 col-xs-12 col-lg-offset-3">
  <div class="panel panel-default">
    <div class="panel-heading">Selecciona la fotografia de un vehiculo a analizar</div>
    <div class="panel-body">
      <input id="file" type="file" accept="image/x-png,image/jpg,image/jpeg">
    </div>
  </div>
</div>

<div class="col-lg-8 col-md-12 col-lg-offset-2 hide">
  <div class="panel panel-default">
    <div class="panel-heading col-lg-12 info">
      <div class="hide loading">
        <%= image_tag('loading.gif') %>
      </div>
      <div class="plates col-lg-2" data-toggle="popover" data-container="body" data-trigger="hover" data-placement="top" data-content="."></div>
      <div class="type col-lg-2" data-toggle="popover" data-container="body" data-trigger="hover" data-placement="top" data-content="."></div>
      <div class="color col-lg-2" data-toggle="popover" data-container="body" data-trigger="hover" data-placement="top" data-content="."></div>
      <div class="brand col-lg-2" data-toggle="popover" data-container="body" data-trigger="hover" data-placement="top" data-content="."></div>
      <div class="model col-lg-2" data-toggle="popover" data-container="body" data-trigger="hover" data-placement="top" data-content="."></div>
    </div>
    <div class="panel-body peview-container">
      <img class="preview hide" src="" alt="">
    </div>
  </div>
</div>
