<h2 class="text-center">Log in</h2>

<%= form_for(resource, as: resource_name, url: session_path(resource_name), :html => {:class => 'col-md-6 col-md-offset-3', :'data-parsley-validate' => ''}) do |f| %>
  <div class="form-group">
    <%= f.label :email %><br />
    <%= f.email_field :email, autofocus: true, class: 'form-control', placeholder: 'Email' %>
  </div>

  <div class="form-group">
    <%= f.label 'Contraseña', for: :user_password %><br />
    <%= f.password_field :password, autocomplete: "off", class: 'form-control', placeholder: 'Contraseña' %>
  </div>

  <% if devise_mapping.rememberable? -%>
    <div class="form-group">
      <%= f.check_box :remember_me %>
      <%= f.label :recordarme %>
    </div>
  <% end -%>

  <div class="actions">
    <%= f.submit "Log in", class: 'btn btn-default' %>
    <%= link_to "Registrarse", new_registration_path(resource_name), class: 'btn btn-default pull-right' %>
  </div>
<% end %>
