// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/

.peview-container {
  padding: 0 !important;
  .preview {
    width: 100%;
  }
}

.info {
  div {
    width: 20%;
    text-align: center;
    cursor: pointer;
  }

  .loading {
    width: 100%;
    img{
      height: 18px;
    }
  }
}
